{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="index-content container">
    <div class="row index-box">
        <div class="col justify-content-center align-self-center">
            <section class="text-center">
                {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
                {{ end }}
                <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
            </section>
        </div>
        <div class="col justify-content-center align-self-center">
            
                <section class="text-center">
                    {{ with .Site.Params.index.subtitle }}
                    <h3 class="index-sub">{{ . }}</h3>
                    {{ end }}
                    {{ with .Site.Params.index.mdtext }}
                    <h6 class="index-text">{{ . | markdownify }}</h6>
                    {{ end }}
                </section>
                {{- partial "_shared/social.html" . -}}
                {{ if isset .Site.Params.index "alertbar" }}
                {{ if .Site.Params.index.alertbar }}
                {{- partial "_shared/alertbar.html" . -}}
                {{ end }}
                {{ end }}
            
        </div>
    </div>
</div>

{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}